include libs/vars.pug
doctype html
html(lang=pageLang)
    head
        include partials/meta.pug
        title=pageTitle
    body
        include partials/header.pug

        main.container
        
        include partials/footer.pug
        include partials/scripts.pug